<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="./assets/img/duocuc.png" alt="Logo DUOC" class="header-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <img src="./assets/img/photo_inicio.png" alt="Imagen Inicio" class="responsive-image">
  </div>

  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched">
            El correo debe tener el formato duocuc.cl
          </ion-text>
          <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
            El correo es requerido.
          </ion-text>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
            La contraseña debe tener al menos 8 caracteres.
          </ion-text>
          <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('invalidPassword') && loginForm.get('password')?.touched">
            La contraseña debe contener al menos una mayúscula y un carácter especial.
          </ion-text>

          <ion-button [routerLink]="['/home']" id="open-loading" expand="block" [disabled]="loginForm.invalid">
            Iniciar Sesión
          </ion-button>
          <ion-loading trigger="open-loading" message="Iniciando Sesión" [duration]="100" spinner="circles"></ion-loading>
        </form>

        <ion-text color="primary" class="recuperar-contraseña">
          <a [routerLink]="['/recuperar']" class="recuperar-link">
            Restablecer Contraseña
          </a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
