<ion-header>
  <ion-toolbar>
    <img class="logo" src="./assets/img/duocuc.png" alt="logo duroc">  
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-card>
    <ion-card-title>Welcome {{ userEmail }}</ion-card-title>
  </ion-card>
  <div class="cards">
    <ion-card class="servicio">
      <img alt="Taxi" src="./assets/img/inicio_ionic.png">
      <div class="button-container">
        <ion-button class="button">Pedir Auto</ion-button>
      </div>
    </ion-card>
    
    <ion-card class="servicio">
      <img alt="Taxi" src="./assets/img/inicio_ionic.png">
      <div class="button-container">
        <ion-button class="button">Ofrecer Viaje</ion-button>
      </div>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-title>¿Destino?</ion-card-title>
  </ion-card>
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="ubi" src="./assets/img/ubicacion.png" />
          </ion-thumbnail>
          <ion-label>Ingresa dirección</ion-label>
          <ion-label>Pasaje 3 #321</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="ubi" src="./assets/img/casa.png" />
          </ion-thumbnail>
          <ion-label>Casa</ion-label>
          <ion-label>Pasaje 4 #123</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="ubi" src="./assets/img/autoxl.png" />
          </ion-thumbnail>
          <ion-label>Solicitar auto</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-content>
<ion-footer [class.hidden]="hideFooter">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">Cerrar Sesión</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>