.cards{
  display:flex;
  height: auto;
  width: auto;
}
.logo{
  max-height: 40px; 
    width: auto;
    text-align: center;
}
ion-toolbar {
  --background: #000000; 
  text-align: center;
}

ion-card-title {
  text-align: center;  /* Centrar el texto */
}

.servicio{
  background-color: #F1B634; 
  padding: 20px; 
  border-radius: 10px;
  width: auto;
  height: auto;
  box-shadow: 0 0 0 4px transparent, 0 0 0 5px transparent; /* Inicialmente vacío */
  background-clip: padding-box; /* Hace que el fondo interno no sobresalga en los bordes */
}
ion-card-title{
  background-color: #ffffff;
}
.hidden {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  display: none;
}

ion-footer ion-toolbar {
  display: flex;
  justify-content: space-between;
}
ion-button {
  margin-top: 16px;
  background-color: #F1B634;
  color: white;
}

ion-footer ion-button {
  font-size: 1em; /* Ajusta el tamaño del botón */
}
ion-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1; /* Coloca el pseudoelemento detrás del contenido */
  background: linear-gradient(45deg, #F1B634,#ffffff); /* Gradiente de colores */
  border-radius: 12px; /* Asegura que el borde tenga el mismo radio que el card */
}
body {
  background-color: #d8d8d8;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.button {
  --background: #6c6c6c;
    color: white;
}
ion-header {
  --background: #aed5ff; /* Color de fondo del header */
  --color: #ffffff; /* Color del texto en el header */
}